<a href="https://colab.research.google.com/github/kelvinmw1/Kenya_health_facilities_data/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#first we import the libraries to be used in the data cleaning

import pandas as pd
import numpy as np

In [25]:
#we now read our file from its location
#check if the file is readable and that all rows and columns are there

df = pd.read_excel("/content/healthdata/kenya_health_facilities_data_2023.xls")
df.head(1000)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

,Facility Code,Facility Name,Province,County,District,Division,Type,Owner,Location,Sub Location,...,IPD,OPD,OUTREACH,PMTCT,RAD/XRAY,RHTC/RHDC,TB DIAG,TB LABS,TB TREAT,YOUTH
0,19224,CDF Kiriari Dispensary,Eastern,Embu,Manyatta,Manyatta,Dispensary,Ministry of Health,Ruguru,Ruguru,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19310,St Jude's Huruma Community Health Services,Nairobi,Nairobi,Mathare,Huruma,Medical Clinic,Private Practice - Unspecified,Huruma,Huruma,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14180,10 Engineer VCT,Rift Valley,Laikipia,Laikipia East,Central,Dispensary,Armed Forces,Nanyuki,Majengo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17486,12 Engineers,Central,Kiambu,Thika West,NaN,Dispensary,Ministry of Health,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,18393,3Kl Maternity & Nursing Home,Rift Valley,Kajiado,Kajiado North,Ongata Rongai,Nursing Home,Private Practice - Clinical Officer,Gataka,Gataka,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,14913,Kipsegi Dispensary,Rift Valley,Kericho,Kipkelion,Kamasian,Dispensary,Ministry of Health,Kipsegi,Kipsegi,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,14914,Kipsigak Baibai Dispensary,Rift Valley,Nandi,Nandi South,Aldai,Dispensary,Ministry of Health,Terik,Terik,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,14916,Kipsigak Dispensary (Nandi),Rift Valley,Nandi,Nandi Central,Kilibwoni,Dispensary,Ministry of Health,Kipsigak,Kipsigak,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,14915,Kipsigak Health Centre,Rift Valley,Uasin Gishu,Eldoret West,Soy,Health Centre,Ministry of Health,Koisagat,Lolkinyei,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,15952,Kipsigon (FGC) Health Centre,Western,Bungoma,Mt Elgon,Kopsiro,Health Centre,Christian Health Association of Kenya,Emia,Emia,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
#check if the data has missing values eg missing county names make the data useless
#determine which missing values might skew your data

df.isnull().sum()

facility_code                  0
facility_name                  0
province                       0
county                         0
district                       0
division                     267
type                           0
owner                          0
location                     495
sub_location                 892
description_of_location     5201
constituency                   0
nearest_town                 602
beds                          87
cots                          77
official_landline           9138
official_fax                9965
official_mobile             7590
official_email              8648
official_address            3458
official_alternate_no       9553
town                        2667
post_code                   3825
in_charge                   2140
job_title_of_in_charge      3099
open_24_hours                447
open_weekends                457
operational_status             0
anc                        10505
art                         9584
beoc                       10505
blood                      10505
caes_sec                   10505
ceoc                       10505
c-imci                      9328
epi                        10505
fp                          6217
growm                      10505
hbc                         7707
hct                        10505
ipd                         6562
opd                        10505
outreach                   10505
pmtct                      10505
rad/xray                   10505
rhtc/rhdc                  10505
tb_diag                    10505
tb_labs                    10505
tb_treat                   10505
youth                      10505
dtype: int64

In [17]:
#check for any duplicates in your data

df.duplicated().sum()

np.int64(0)

In [29]:
#rename your column names so that they are consistent and have no spaces

df.columns = df.columns.str.lower().str.replace(' ', '_')

In [21]:
#replace all the missing data in beds with 0, because some facilities might not have beds and that will be okay for the data unlike missing values

df['beds'] = df['beds'].fillna(0)

In [30]:
#check if all your missing values have been filled

df.isnull().sum()

facility_code                  0
facility_name                  0
province                       0
county                         0
district                       0
division                     267
type                           0
owner                          0
location                     495
sub_location                 892
description_of_location     5201
constituency                   0
nearest_town                 602
beds                          87
cots                          77
official_landline           9138
official_fax                9965
official_mobile             7590
official_email              8648
official_address            3458
official_alternate_no       9553
town                        2667
post_code                   3825
in_charge                   2140
job_title_of_in_charge      3099
open_24_hours                447
open_weekends                457
operational_status             0
anc                        10505
art                         9584
beoc                       10505
blood                      10505
caes_sec                   10505
ceoc                       10505
c-imci                      9328
epi                        10505
fp                          6217
growm                      10505
hbc                         7707
hct                        10505
ipd                         6562
opd                        10505
outreach                   10505
pmtct                      10505
rad/xray                   10505
rhtc/rhdc                  10505
tb_diag                    10505
tb_labs                    10505
tb_treat                   10505
youth                      10505
dtype: int64

In [39]:
df['owner'].value_counts()

owner
Ministry of Health                                 4687
Private Enterprise (Institution)                   1366
Private Practice - Nurse / Midwife                 1026
Private Practice - Clinical Officer                 615
Private Practice - General Practitioner             434
Kenya Episcopal Conference-Catholic Secretariat     412
Christian Health Association of Kenya               390
Non-Governmental Organizations                      350
Other Faith Based                                   283
Private Practice - Unspecified                      242
Private Practice - Medical Specialist               169
Community                                           109
Local Authority                                     106
Company Medical Service                              86
Other Public Institution                             81
Community Development Fund                           39
Academic (if registered)                             37
Armed Forces                                         24
Parastatal                                           20
Supreme Council for Kenya Muslims                    13
Humanitarian Agencies                                 6
Local Authority T Fund                                5
State Coorporation                                    5
Name: count, dtype: int64

In [40]:
df['type'].value_counts()

type
Dispensary                                      4820
Medical Clinic                                  3360
Health Centre                                   1126
Other Hospital                                   256
Nursing Home                                     208
VCT Centre (Stand-Alone)                         181
Sub-District Hospital                            143
District Hospital                                141
Laboratory (Stand-alone)                          59
Maternity Home                                    49
Medical Centre                                    36
Dental Clinic                                     30
Not in List                                       19
Health Programme                                  15
Eye Centre                                        10
Radiology Unit                                     9
Provincial General Hospital                        9
Health Project                                     9
Training Institution in Health (Stand-alone)       8
District Health Office                             5
Regional Blood Transfusion Centre                  3
Eye Clinic                                         3
National Referral Hospital                         3
Funeral Home (Stand-alone)                         1
Rural Health Training Centre                       1
Blood Bank                                         1
Name: count, dtype: int64

In [41]:
df['owner'].nunique()

23

In [42]:
df['type'].nunique()

26